<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Select Source">
		<setting id="source" type="select" label="Select Source - Chọn Nguồn" values="Local|URL" default="Local"/>
		<setting id="url" type="text" label="Enter Path to URL - Nhập đường dẫn đến URL" default=""/>		
   	</category>	  
    <category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
   	</category>	   	
  </settings>